{% extends "base.html" %}

{% block content %}
  <h1 class="h1">
    Tasks
  </h1>

  {% block search %}
    {% include "includes/search.html" %}
  {% endblock %}

  <br>
  {% if task_list %}
    <table class="table table-hover">
      <tr>
        <th>
          <div class="description">
            Create new tasks
            <a href="{% url 'organizer:task-create' %}" class="btn btn-outline-light link-to-page">
              <strong> + </strong>
            </a>
          </div>
          {#        </th>#}
          {#        <th>#}
          <a href="{{ user.get_absolute_url }}" class="btn btn-outline-light link-to-page">
            <strong>Go to my to-do list</strong>
          </a>
        </th>
      </tr>

      {% for task in task_list %}
        <tr>
        <td>
          <div class="description">
            {{ task.description }}
          </div>

          {% if task in user.tasks.all %}


            <a href="{% url 'organizer:toggle-task-assign' pk=task.id %}" class="btn btn-info">
              Delete from my to-do list
            </a>
          {% else %}
            <a href="{% url 'organizer:toggle-task-assign' pk=task.id %}" class="btn btn-success">
              Add to my to-do list
            </a>


          {% endif %}
        </td>
      {% endfor %}

    </table>

  {% else %}
    <br>
    <h4 class="decor sofia">There are no such tasks yet. Let's create a new one <a
        href="{% url 'organizer:task-create' %}" class="btn btn-outline-info link-to-page">
      <strong> + </strong>
    </a></h4>
  {% endif %}

{% endblock %}
